<nav mat-tab-nav-bar class="navbar">
  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div class="toolbar">
  <button mat-stroked-button [matMenuTriggerFor]="channelsSort">
    Сортировка
  </button>
  <button mat-stroked-button [matMenuTriggerFor]="channelsGenres" class="toolbar__button">
    Телеканалы
  </button>
</div>

<mat-menu #channelsSort="matMenu">
  <button mat-menu-item>По умолчанию</button>
  <button mat-menu-item>По возрастанию (А-Я)</button>
  <button mat-menu-item>По убыванию (Я-А)</button>
</mat-menu>

<mat-menu #channelsGenres="matMenu" class="genres__menu" [overlapTrigger]="false">
  <div class="list-wrapper">
    <mat-nav-list>
      <mat-list-item>Все телеканалы</mat-list-item>
      <mat-list-item *ngFor="let genre of (genres$ | async); trackBy: trackByFn">
        {{ genre.genreName }}
      </mat-list-item>
    </mat-nav-list>
  </div>
  <button mat-menu-item>Сбросить выбор</button>
</mat-menu>


