<nav mat-tab-nav-bar class="navbar">
  <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.path"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div class="toolbar">
  <app-fancy-select [options]="channelsSortOptions" class="toolbar__select">
    <span #label>Сортировка</span>
  </app-fancy-select>

  <app-fancy-select [options]="genreOptions$ | async" class="toolbar__select">
    <span #label>Телеканалы</span>
  </app-fancy-select>
</div>

