:host {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.toolbar {
  height: 49px;
  display: flex;
  align-items: flex-end;

  &__select:first-child {
    margin-right: 15px;
  }
}
