:host {
  display: flex;
}
.fancy__button {
  width: 150px;
}

.fancy__menu {
  max-height: calc(240px - 48px);

  > .mat-menu-content {
    > .list-wrapper {
      overflow: hidden;
    }
  }

  > .mat-menu-content:not(:empty),
  .mat-nav-list {
    padding: 0;
  }

  .mat-menu-content {
    position: relative;
  }

  .mat-nav-list {
    max-height: calc(192px - 48px);
    overflow: auto;
  }
}

