<button mat-stroked-button
  [matMenuTriggerFor]="menu"
  #t="matMenuTrigger"
  [class.fancy__trigger--opened]="t.menuOpen"
  class="fancy__trigger">
  <ng-content select="label"></ng-content>
</button>

<mat-menu #menu="matMenu"
  class="fancy__menu"
  (closed)="handleMenuClose()">
  <div class="fancy__list-wrapper">
    <mat-selection-list #selectionList
      class="fancy__selection-list"
      (selectionChange)="handleSelectionChange($event)"
      (click)="handleMouseDown($event)">

      <mat-list-option *ngFor="let option of options; trackBy: trackByFn"
        class="fancy__selection-list-item"
        [value]="option.key"
        [selected]="option.selected">
        {{ option.value }}
      </mat-list-option>

    </mat-selection-list>
  </div>

  <button *ngIf="hasDeselectButton"
    mat-menu-item
    class="fancy__button"
    (click)="deselectAll()">
    Сбросить выбор
  </button>

</mat-menu>
